<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>parts-beardR.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,127},{34,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,9}}</string>
        <key>sourceSize</key>
        <string>{34,9}</string>
      </dict>
      <key>parts-beardL.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,133},{30,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,9}}</string>
        <key>sourceSize</key>
        <string>{30,9}</string>
      </dict>
      <key>parts-handR.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,133},{25,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,15}}</string>
        <key>sourceSize</key>
        <string>{25,15}</string>
      </dict>
      <key>parts-armR.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,82},{12,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,20}}</string>
        <key>sourceSize</key>
        <string>{12,20}</string>
      </dict>
      <key>parts-armUpperR.png</key>
      <dict>
        <key>frame</key>
        <string>{{30,101},{40,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,24}}</string>
        <key>sourceSize</key>
        <string>{40,24}</string>
      </dict>
      <key>parts-legR.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,0},{45,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,58}}</string>
        <key>sourceSize</key>
        <string>{45,58}</string>
      </dict>
      <key>parts-tail.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{54,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,70}}</string>
        <key>sourceSize</key>
        <string>{54,70}</string>
      </dict>
      <key>parts-eyeR.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,101},{10,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,15}}</string>
        <key>sourceSize</key>
        <string>{10,15}</string>
      </dict>
      <key>parts-eyeL.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,104},{7,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,12}}</string>
        <key>sourceSize</key>
        <string>{7,12}</string>
      </dict>
      <key>parts-head.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,99}}</string>
        <key>sourceSize</key>
        <string>{85,99}</string>
      </dict>
      <key>parts-hair.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,60},{31,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,71}}</string>
        <key>sourceSize</key>
        <string>{31,71}</string>
      </dict>
      <key>parts-clothes1.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,72},{52,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,44}}</string>
        <key>sourceSize</key>
        <string>{52,44}</string>
      </dict>
      <key>parts-body.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{59,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,87}}</string>
        <key>sourceSize</key>
        <string>{59,87}</string>
      </dict>
      <key>parts-legL.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,89},{51,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,45}}</string>
        <key>sourceSize</key>
        <string>{51,45}</string>
      </dict>
      <key>parts-handL.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,118},{24,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>parts-armL.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,60},{12,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,20}}</string>
        <key>sourceSize</key>
        <string>{12,20}</string>
      </dict>
      <key>parts-armUpperL.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,118},{28,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,22}}</string>
        <key>sourceSize</key>
        <string>{28,22}</string>
      </dict>
      <key>parts-tailTip.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,101},{28,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,53}}</string>
        <key>sourceSize</key>
        <string>{28,53}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>DragonBones_Tutorial_ChangeClothes.png</string>
      <key>textureFileName</key>
      <string>DragonBones_Tutorial_ChangeClothes.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>