<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>other-daoju01.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,151},{56,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,30}}</string>
        <key>sourceSize</key>
        <string>{56,30}</string>
      </dict>
      <key>other-fangdun01.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,151},{56,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,30}}</string>
        <key>sourceSize</key>
        <string>{56,30}</string>
      </dict>
      <key>other-zhuangshi01.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,151},{56,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,30}}</string>
        <key>sourceSize</key>
        <string>{56,30}</string>
      </dict>
      <key>other-jianzhu01.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,151},{56,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,30}}</string>
        <key>sourceSize</key>
        <string>{56,30}</string>
      </dict>
      <key>other-ziyuan01.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,151},{58,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,32}}</string>
        <key>sourceSize</key>
        <string>{58,32}</string>
      </dict>
      <key>other-yuanqian03.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{244,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{244,129}}</string>
        <key>sourceSize</key>
        <string>{244,129}</string>
      </dict>
      <key>other-yuanqian02.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{96,129}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{96,129}}</string>
        <key>sourceSize</key>
        <string>{96,129}</string>
      </dict>
      <key>other-buwen.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{211,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{211,149}}</string>
        <key>sourceSize</key>
        <string>{211,149}</string>
      </dict>
      <key>other-ziyuan02.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>other-yuanqian01.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,131},{100,100}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,100}}</string>
        <key>sourceSize</key>
        <string>{100,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shopEffect.png</string>
      <key>textureFileName</key>
      <string>shopEffect.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>